				*{
			box-sizing: border-box;
		}
		@media(min-width:  992px){
			#box1, #box2, #box3{
				width: 31%;
				height: 200px;
			}
		}
		@media(min-width: 768px) and (max-width:  991px){
			#box1, #box2{
				width: 47%;
				height: 210px;
			}
			#box3{
				width: 97%;
				height: 190px;
			}
		}
		@media(max-width:  767px){
			section{
				width: 97%;
				height: 190px;
			}
		}
	
		.wrap{
			height: 600px;
			margin: 15px;
		}

		h1{
			text-align: center;
		}

		section{
			border: 1px solid black;
			float: left;
			position: relative;
			background: gray;
			margin: 10px;
			overflow: auto;
		}

		h3{
			position: absolute;
			top: 0;
			right: 0;
			border: 1px solid black;
			margin: -1px;
			width: 30%;
			text-align: center;
		}

		p{
			position: absolute;
			bottom: 0;
			font-size: 8;
		}


		#chicken{
			background: blue;
		}
		#beef{
			background: red;
		}
		#sushi{
			background: pink;
		}